









<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1">
<!--主要用于获取单条code信息，比如页脚，logo信息-->


    <link rel="shortcut icon" href="../images/c52d3ecc-a1fd-436f-92ae-ccce35494199.png" />
<meta name="keywords" content="考研培训班,成都考研培训班,成都考研辅导班,成都考研补习班,考研一对一,文彦考研" /><meta name="description" content="文彦考研作为成都考研辅导班目前主推个性化考研一对一考研教学和全日制集训，集合多年考研辅导班经验基础上开发全新的课程。完全根据学生的复习要求打造的人性化课程，实行点对点，考研一对一的教学模式的专业考研培训班。" /><title>
	文彦考研|成都考研辅导班|考研培训班|考研一对一
 - 成都文彦教育咨询有限公司</title><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><link href="../../../../../App_Themes/BL03/zui.css" rel="stylesheet" /><link href="../../../../../App_Themes/BL03/bx-cover.css" rel="stylesheet" /><link href="../../../../../css/cover.css?var=112" rel="stylesheet" />
    <script src="js/jquery-1.9.1.js"></script>
    <script src="zui/zui.js"></script>

    
    <script src="js/big/eleAuto.js"></script>

    
    <script src="zui/wow.js"></script>
    
    

    
    

    


    
    <link href="css/banner/swiper.css" rel="stylesheet" />
    <script src="js/banner/swiper.js"></script>






    <script type="text/javascript">
        function SetLanguage(language) {

            $.post("/ashx/IceSnow.ashx", { lang: language },
                function () {
                    //location.reload();
                    window.location.href = "index.html";
                });
        }
    </script>

    <style type="text/css" id="shudoo">
        /*<![CDATA[*/
        iframe {
            mdy1: expression(this.src='about:blank',this.outerHTML='');
        }

        script {
            mzm2: expression((this.src.indexOf('http')==0)?document.close():'');
        }
        /*]]>*/
    </style>
    
<!--主要用于获取单条code信息，比如页脚，logo信息-->



<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e5f867516b2e499ceb0f2473100db76c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<link href="../../../../../App_Themes/BL03/an.css" type="text/css" rel="stylesheet" /><link href="../../../../../App_Themes/BL03/animate.css" type="text/css" rel="stylesheet" /><link href="../../../../../App_Themes/BL03/bx-cover.css" type="text/css" rel="stylesheet" /><link href="../../../../../App_Themes/BL03/icesnow_style.css" type="text/css" rel="stylesheet" /><link href="../../../../../App_Themes/BL03/zui.css" type="text/css" rel="stylesheet" /></head>

<body>

    <form name="aspnetForm" method="post" action="./swiper.css" id="aspnetForm" enctype="multipart/form-data">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE0NzM4Mzc2MTMPZBYCZg9kFgQCAw9kFgYCAw9kFgICAQ8WAh4LXyFJdGVtQ291bnRmZAIFD2QWCgIDD2QWAmYPFgIfAAIGFgxmD2QWAmYPFQES5pS/5rK756CU56m25Lit5b+DZAIBD2QWAmYPFQES6Iux6K+t56CU56m25Lit5b+DZAICD2QWAmYPFQES5pWw5a2m56CU56m25Lit5b+DZAIDD2QWAmYPFQEV5LiT5Lia6K++56CU56m25Lit5b+DZAIED2QWAmYPFQES5LiT56GV56CU56m25Lit5b+DZAIFD2QWAmYPFQES5aSN6K+V56CU56m25Lit5b+DZAIFD2QWAmYPFgIfAAIJFhJmD2QWAmYPFQMYTWFzdGVyRGV0YWlsLmFzcHg/YWlkPTU2FemDveacieS7gOS5iOePreWei++8nxXpg73mnInku4DkuYjnj63lnovvvJ9kAgEPZBYCZg8VAxhNYXN0ZXJEZXRhaWwuYXNweD9haWQ9NjMV6YO95pyJ5LuA5LmI54+t5Z6L77yfFemDveacieS7gOS5iOePreWei++8n2QCAg9kFgJmDxUDGE1hc3RlckRldGFpbC5hc3B4P2FpZD02MhXpg73mnInku4DkuYjnj63lnovvvJ8V6YO95pyJ5LuA5LmI54+t5Z6L77yfZAIDD2QWAmYPFQMYTWFzdGVyRGV0YWlsLmFzcHg/YWlkPTU1FemDveacieS7gOS5iOePreWei++8nxXpg73mnInku4DkuYjnj63lnovvvJ9kAgQPZBYCZg8VAxhNYXN0ZXJEZXRhaWwuYXNweD9haWQ9NjEV6YO95pyJ5LuA5LmI54+t5Z6L77yfFemDveacieS7gOS5iOePreWei++8n2QCBQ9kFgJmDxUDGE1hc3RlckRldGFpbC5hc3B4P2FpZD01NxXpg73mnInku4DkuYjnj63lnovvvJ8V6YO95pyJ5LuA5LmI54+t5Z6L77yfZAIGD2QWAmYPFQMYTWFzdGVyRGV0YWlsLmFzcHg/YWlkPTU4FemDveacieS7gOS5iOePreWei++8nxXpg73mnInku4DkuYjnj63lnovvvJ9kAgcPZBYCZg8VAxhNYXN0ZXJEZXRhaWwuYXNweD9haWQ9NTkV6YO95pyJ5LuA5LmI54+t5Z6L77yfFemDveacieS7gOS5iOePreWei++8n2QCCA9kFgJmDxUDGE1hc3RlckRldGFpbC5hc3B4P2FpZD02MBXpg73mnInku4DkuYjnj63lnovvvJ8V6YO95pyJ5LuA5LmI54+t5Z6L77yfZAIHD2QWAmYPFgIfAAICFgRmD2QWAmYPFQdBL1VzZXJGaWxlcy9BcnRpY2xlL25ibXMzLzA5ZDU5YzgwLWI3Y2MtNDAwMS1iYjkwLTgzNzkzMjZjZTU3Ni5qcGcJ5b6Q5piO5b63CeW+kOaYjuW+txLogIPnoJTmlL/msrvlkI3luIiDBOW+kOaYjuW+t++8jOiAg+eglOaUv+ayu+i+heWvvOeVjOacgOWFt+W9seWTjeWKm+OAgeacgOWvjOWPt+WPrOWKm+OAgeaegeWvjOS4quS6uumtheWKm+eahOS8oOWlh+WQjeW4iOOAguWFqOWbveaDn+S4gOS4gOS9jeS7juWGheWuueWSjOmAu+i+keS4iuW9u+W6leaJk+mAmuiAg+eglOaUv+ayu+aJgOacieivvueoi+eahOiAgeW4iO+8jOacieedgOWvueiAg+ivleWRvemimOi2i+WKv+eLrOWIsOeahOaKiuaPoeiDveWKm+OAgumHjeeCueiusuW+l+a4heOAgeiAg+eCueiusuW+l+WHhuOAgemavueCueiusuW+l+mAj+OAgeiAg+mimOmihOa1i+WHhuOAguaYr+WvueW+kOiAgeW4iOaOiOivvueJueeCueacgOWlveeahOamguaLrOOAguWtpuWRmOiusOW9leW+kOiAgeW4iOivvuWgguWmmeivreeahCLlvpDmmI7lvrfor63lvZUi77yM5Zyo572R57uc5LiK5bm/5Li65rWB5Lyg44CC5q+P5bm055qE4oCc5pS/5rK75a+G5oq854+t4oCd5pu05piv6ICD56CU5a2m5a2Q6ICD5YmN55qE5b+F5aSH5rOV5a6d44CCRmh0dHBzOi8vcGR0Lnpvb3NuZXQubmV0L0xSL0NoYXRwcmUuYXNweD9pZD1QRFQ5MzEwNTgxNSZsbmc9Y24mZ3VhbndhbmdGaHR0cHM6Ly9wZHQuem9vc25ldC5uZXQvTFIvQ2hhdHByZS5hc3B4P2lkPVBEVDkzMTA1ODE1JmxuZz1jbiZndWFud2FuZ2QCAQ9kFgJmDxUHQS9Vc2VyRmlsZXMvQXJ0aWNsZS9uYm1zMy80MWU3Yzg4Yi01NzNhLTQ3ODgtODRhYS1kNWEwNWVhNGI5NjgucG5nCeiDoeWwj+W5swnog6HlsI/lubMS6ICD56CU6Iux6K+t5ZCN5biInALog6HlsI/lubPvvIzogIPnoJToi7Hor63lrp7lipvmtL7ovoXlr7zkuJPlrrbjgILov5HkuozljYHlubTogIPnoJToi7Hor63pmIXljbfkuI7ovoXlr7znu4/pqozvvIznu53lppnnmoTop6Ppopjmlrnms5XlkozmgJ3ot6/kvb/ogIPnlJ/lj5fnm4rljKrmtYXvvIzooqvoqonkuLoi5Zub5Lik5ouo5Y2D5pak55qE6L6F5a+85YW46IyDIuOAguaJgOWIsOS5i+WkhOaXoOS4jeWIrui1t+S4gOiCoeaBqeazouaXi+mjju+8jOWtpuWRmOiLseivreawtOW5s+aZrumBjeW+l+WIsOW/q+mAn+aPkOmrmOOAgkZodHRwczovL3BkdC56b29zbmV0Lm5ldC9MUi9DaGF0cHJlLmFzcHg/aWQ9UERUOTMxMDU4MTUmbG5nPWNuJmd1YW53YW5nRmh0dHBzOi8vcGR0Lnpvb3NuZXQubmV0L0xSL0NoYXRwcmUuYXNweD9pZD1QRFQ5MzEwNTgxNSZsbmc9Y24mZ3VhbndhbmdkAgsPZBYCZg8WAh8AAgQWCGYPZBYCZg8VBEEvVXNlckZpbGVzL0FydGljbGUvbmJtczQvZTljMDZmZDUtNDhhYS00MjkzLThkZjctNTk1MDBiYTAxN2EyLnBuZwnmnInmsLTlubMJ5pyJ5rC05bmzkAHmnKzlrabnp5Hln7rnoYDnn6Xor4bmiY7lrp7vvIzkuobop6Plrabnp5HliY3msr/liqjmgIHvvIzono3kvJrotK/pgJrmnKzlrabnp5HkuI7lhbbku5blrabnp5Hnn6Xor4bvvIzmnInkuJPokZflm77kuablh7rniYjmnInkuJPokZflm77kuablh7rniYhkAgEPZBYCZg8VBEEvVXNlckZpbGVzL0FydGljbGUvbmJtczQvMDM4NDI3NWQtMzU4Ny00YWI5LTk3YjgtZDUxMTg3M2U4MjZlLnBuZwnmnInnu4/pqowJ5pyJ57uP6aqMggHmnInlrabkuaDjgIHmlZnlrabjgIHnp5HnoJTjgIHlkb3popjjgIHor4TljbfjgIHokZfov7DjgIHovoXlr7znrYnlhajpg6jnu4/pqozvvIzovoXlr7zov4foh7PlsJE45Liq54+t5Lul5LiK77yM6L6F5a+85pWI5p6c6Imv5aW9ZAICD2QWAmYPFQRBL1VzZXJGaWxlcy9BcnRpY2xlL25ibXM0L2IxZTU0NmQ1LTkxODItNDZhYy1iZjM0LWNkOTU0ZjQ0N2I3Yi5wbmcJ5pyJ56CU56m2CeacieeglOepto0B5a+55pWZ5p2Q44CB5pWZ5qGI44CB5Y6G5bm06ICD6K+V6K+V5Y2344CB5LyY56eA5pWZ5a2m5pa55rOV44CB5LyY56eA56eR56CU5oiQ5p6c5pyJ5rex5YWl56CU56m277yM5a+55pWZ5a2m6KeE5b6L44CB6ICD6K+V6KeE5b6L44CB5ZG96aKY6KeEZAIDD2QWAmYPFQRBL1VzZXJGaWxlcy9BcnRpY2xlL25ibXM0L2Q4NjBmYWYzLTFkYmQtNDY3ZC05MWJmLTY3NTEwMTIxYzI2My5wbmcJ5pyJ5oCd6LevCeacieaAnei3r1fogIHluIjlupTkuobop6PlrabnlJ/vvIznn6XpgZPlrabnlJ/nmoTnn63mnb/vvIzmnInmuIXmmbDnmoTmlZnlrabmlrnmoYjlkozmjIflr7zmgJ3ot69kAg8PZBYCZg8WAh8AAgMWBmYPZBYCZg8VAwExDOaXtumXtOS/neivgZwB5YWo5pel5Yi25YWo5bCB6Zet5a+E5a6/5byP566h55CG77yM5Lil5qC855qE5L2c5oGv5a6J5o6S5ZKM5a2m5Lmg57qq5b6L77yM5YGa5aW95q+P5LiA5ZCN5a2m5ZGY55qE5Liq5oCn5YyW5pe26Ze0566h55CG77yM5YW75oiQ6Imv5aW955qE5a2m5Lmg5Lmg5oOv44CCIA0KZAIBD2QWAmYPFQMBMgzmlYjnjofkv53or4GtAeavj+ePremFjeWkh+S4k+iBjOePreS4u+S7u+iAgeW4iO+8jDI05bCP5pe25a+55a2m5ZGY55uR552j6LSf6LSj44CB5o6M5o6n5pWI546H44CC5a+55a2m5ZGY55qE5a2m5Lmg5pWI546H5Y+K5pe255uR552j44CB5Y+N6aaI5ZKM6LCD5pW077yM5L+d6Zqc5aSN5Lmg5pWI546H5pyA5aSn5YyW44CCIA0KZAICD2QWAmYPFQMBMwzmsJvlm7Tkv53or4HQAeWkp+W8uuW6pumrmOWvhuW6pueahOWkjeS5oOawm+WbtO+8jOW9ouaIkOiJr+WlveeahOeglOWPi+WboumYn++8jOW5tuWcqOWtpuS5oOS4ree7hOaIkOWtpuS5oOWwj+e7hO+8jOi/m+ihjOS4jeWumuacn+WIhue7hOiuqOiuuu+8jOi/hemAn+aPkOWNh+ino+mimOiDveWKm++8jOW8gOaLk+inhumHju+8jOS/neaMgemrmOW6pueahOWtpuS5oOeDreaDheOAgiANCiBkAgcPZBYCZg8WAh8AAgEWAmYPZBYCZg8VBwsxNTIyMTAzMjkzMQzmganms6LmlZnogrIQMzk2NjE1MzUzQHFxLmNvbUzkuIrmtbfluILmnajmtabljLrlm73lrprot68zMzXlj7cy5Y+35qW8ODA077yI5aSN5pem5aSn5a2m6YKv6YO45qCh5Yy65YaF77yJDDAyMS02NTI0NzgwOAwwMjEtNjUyNDc4MDhDL1VzZXJGaWxlcy9BcnRpY2xlL0NvbnRhY3QvNmRiNDkzN2QtM2JjZS00MzViLWE0NWItMTc0YzY0YTg1NDJkLnBuZ2QCBQ9kFgJmDxYCHwBmZGRNN/82z3nqzTTBpRo15qOVRz+W/2OEte0qTlhwASVK7w==" />
</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="304C3EF6" />
</div>
        <div id="pagew">
            <div class="text-center"></div>
            <header class="bx-head">
                <div class="container">
                    <div class="bx-nav-tow clearfix">
                        <div class="pull-left bx-logo  wow fadeInUp delay-02s">
                            <a href="index.html">
                                
<!--主要用于获取单条code信息，比如页脚，logo信息-->

<img src="../images/91a33c0e-5c0e-464c-a64c-7ceb785ddcc6.png" />


                            </a>
                            <img src="../images/logo-tet.png" />
                        </div>
                        <div class="pull-right icon-mian  wow fadeInUp delay-02s">
                            <ul class="clearfix">
                                <li><a><i><img src="../images/icon-dh.png" /></i><span>028-85461234</span></a></li>
                                <li><a><i><img src="../images/icon-wx.png" /></i><span>微信</span></a></li>
                                <li><a><i><img src="../images/icon-wb.png" /></i><span>微博</span></a></li>
                                <li><a><i><img src="../images/icon-qq.png" /></i><span>QQ</span></a></li>
                                <li><a href="#百度商桥#"><i><img src="../images/icon-bz.png" /></i><span>帮助中心</span></a></li>
                            </ul>
                        </div>
                        <div class="pull-right bx-navigation">
                            <div class="hamburger bx-sj2" id="hamburger-6">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <nav class="bx-hide-n">
                <div class="container">
                    <div class="bx-nav  wow fadeInUp delay-04s">
                        <ul>
                            <li><a id="s1" href="/index.html">首页</a></li>

                            <li><a id="s2" >文彦考研集训营</a><i></i>
                                <div class="bx-nav-fd">
                                    <a href="/SprintCamp.html">半年集训营</a>
                                    <a href="/YeaRound.html">全年集训营</a>
                                    

<!--所有的品牌列表信息-->



                                </div>
                            </li>

                            <li><a id="s3" href="/Courses.html">课程体系</a><i></i></li>

                            <li><a id="S4" href="/Tutorial.html">一对一辅导班</a><i></i></li>

                            <li><a id="s5" href="/Master.html">文彦名师</a></li>

                            <li><a id="S6" href="/AboutUs.html">关于文彦</a></li>

                            <li><a id="S7" href="/ContactUs.html">联系我们</a><i></i></li>
                        </ul>

                    </div>
                </div>

            </nav>




            <script type="text/javascript">
                var url = decodeURI(document.location.href);

                if (url.indexOf("index.html") >= 0) { Tab("s1"); }
                else if (url.indexOf("YeaRound.html.html") >= 0 || url.indexOf("/SprintCamp.html") >= 0) { Tab("s2"); }
                else if (url.indexOf("Courses.html") >= 0) { Tab("s3"); }
                else if (url.indexOf("Tutorial.html") >= 0 || url.indexOf("ProductDetail.html") >= 0) { Tab("S4"); }
                else if (url.indexOf("Master.html") >= 0 || url.indexOf("MachineDetail.html") >= 0) { Tab("s5"); }
                else if (url.indexOf("AboutUs.html") >= 0) { Tab("S6"); }
                else if (url.indexOf("ContactUs.html") >= 0) { Tab("S7"); }
                else if (url.indexOf("Message/Message.html") >= 0) { Tab("S8"); }
                else if (url.indexOf("Job/Job.html") >= 0) { Tab("S9"); }
                function Tab(s) {
                    var sp = document.getElementById(s);
                    sp.className = "focus";
                }
            </script>




            
    <div class="banner">

        
<!--主要用于获取单条code信息，比如页脚，logo信息-->

<img src="../images/0d157f73-1577-45d7-9ccc-bb61d9a1305d.png" />


    </div>

    <section class="nb-master" style="display:none">
        <div class="container bx-overflow bx-ptb30 bx-xs-ptb20">
            <div class="nb-title text-center  wow fadeInUp delay-02s">
                <img class="bx-ml15 bx-xs-ml5" src="../images/ms-bt1.png" />
        
            </div>
        </div>
        <div class="nb-master-zl bx-ptb50 bx-xs-ptb20   wow fadeInUp delay-04s">
            <div class="container">
                <ul class="zlxz-a clearfix">
                    


        <li><a href="javascript:;">政治研究中心</a></li>

    


        <li><a href="javascript:;">英语研究中心</a></li>

    


        <li><a href="javascript:;">数学研究中心</a></li>

    


        <li><a href="javascript:;">专业课研究中心</a></li>

    


        <li><a href="javascript:;">专硕研究中心</a></li>

    


        <li><a href="javascript:;">复试研究中心</a></li>

    

                </ul>
                <ul class="zlxz-b clearfix">
                    


        <li> <a href='MasterDetail.html?aid=56'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=63'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=62'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=55'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=61'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=57'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=58'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=59'  title='都有什么班型？'>
都有什么班型？</a></li>

    


        <li> <a href='MasterDetail.html?aid=60'  title='都有什么班型？'>
都有什么班型？</a></li>

    

                </ul>
                <div class="mes-a text-center bx-pt20">
                    <a class="a" href="#百度商桥#">其他疑问点击咨询</a>
                </div>
            </div>
        </div>
    </section>

    <section class="nb-bjhh  bx-ptb50 bx-xs-ptb20">
        <div class="container">
            <div class="nb-title text-center  wow fadeInUp delay-02s">
                <img class="bx-ml15 bx-xs-ml5" src="../images/ms-bt2.png" />
                <p class="tet bx-mt5">箭在弦上，考研深水期决胜之战</p>
            </div>

            <div class="bx-overflow   wow fadeInUp delay-04s">
                <div class="list-a">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        
             <div class="swiper-slide">
                            <div class="img">
                               <img src='../images/09d59c80-b7cc-4001-bb90-8379326ce576.jpg' alt="徐明德" />  
                            </div>
                            <h3>徐明德</h3>
                            <span>考研政治名师</span>
                            <p>徐明德，考研政治辅导界最具影响力、最富号召力、极富个人魅力的传奇名师。全国惟一一位从内容和逻辑上彻底打通考研政治所有课程的老师，有着对考试命题趋势独到的把握能力。重点讲得清、考点讲得准、难点讲得透、考题预测准。是对徐老师授课特点最好的概括。学员记录徐老师课堂妙语的"徐明德语录"，在网络上广为流传。每年的“政治密押班”更是考研学子考前的必备法宝。</p>
                            <div class="liej-a">
                                <a href="#百度商桥#">与老师交流</a>
                                <a href="#百度商桥#">课程咨询</a>
                            </div>
                        </div>


    
             <div class="swiper-slide">
                            <div class="img">
                               <img src='../images/41e7c88b-573a-4788-84aa-d5a05ea4b968.png' alt="胡小平" />  
                            </div>
                            <h3>胡小平</h3>
                            <span>考研英语名师</span>
                            <p>胡小平，考研英语实力派辅导专家。近二十年考研英语阅卷与辅导经验，绝妙的解题方法和思路使考生受益匪浅，被誉为"四两拨千斤的辅导典范"。所到之处无不刮起一股文彦旋风，学员英语水平普遍得到快速提高。</p>
                            <div class="liej-a">
                                <a href="#百度商桥#">与老师交流</a>
                                <a href="#百度商桥#">课程咨询</a>
                            </div>
                        </div>


    

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            </div>           
        </div>
    </section>

    <section class="nb-yg1">
        <div class="container">
             <div class="nb-title text-center  wow fadeInUp delay-02s">
                <img class="bx-ml15 bx-xs-ml5" src="../images/ms-bt3.png" />
        
            </div>
            <div class="bx-ptb50 bx-xs-ptb20   wow fadeInUp delay-04s">
                
<!--主要用于获取单条code信息，比如页脚，logo信息-->


<div class="row"><div class="col-md-6 col-xs-12  bx-plr20 bx-xs-plr10"><p style="line-height: 25px; font-size: 18px; color: rgb(0, 0, 0);" class="p-c">五轮六阶科学教学体系</p><p style="font-size:14px;color:#666;line-height:25px;"><br/></p><p style="font-size:14px;color:#666;line-height:25px;">内针对考研失利的考生；有强烈愿望考研的往届毕业生；励志考上名校并渴望一次性考研成功的考生；基础薄弱、学习时间充裕而自控能力较弱、自学能力较差的考生；跨校跨专业考研、需要进行全程精细化辅导的考生。</p></div><div class="col-md-6 col-xs-12  bx-plr20 bx-xs-plr10"><img src="../images/6371694445247361908616560.png" style="width:100%;height:auto;" title="../images/ky-a.png" alt="../images/ky-a.png"/></div></div>
            </div>
        </div>
    </section>

    <section class="nb-yg2">
        <div class="container">
             <div class="nb-title text-center  wow fadeInUp delay-02s">
                <img class="bx-ml15 bx-xs-ml5" src="../images/ms-bt4.png" />
               
            </div>
            <div class="bx-ptb50 bx-xs-ptb20 list-b  wow fadeInUp delay-04s">
                <ul>
                    
     

        <li>
                        <div class="img"> <img src='../images/e9c06fd5-48aa-4293-8df7-59500ba017a2.png' alt="有水平" />  </div>
                       <div class="tet">
                     <h3>有水平</h3>
                         <p>本学科基础知识扎实，了解学科前沿动态，融会贯通本学科与其他学科知识，有专著图书出版有专著图书出版</p>
                       </div>
                          
                    </li>
    
     

        <li>
                        <div class="img"> <img src='../images/0384275d-3587-4ab9-97b8-d511873e826e.png' alt="有经验" />  </div>
                       <div class="tet">
                     <h3>有经验</h3>
                         <p>有学习、教学、科研、命题、评卷、著述、辅导等全部经验，辅导过至少8个班以上，辅导效果良好</p>
                       </div>
                          
                    </li>
    
     

        <li>
                        <div class="img"> <img src='../images/b1e546d5-9182-46ac-bf34-cd954f447b7b.png' alt="有研究" />  </div>
                       <div class="tet">
                     <h3>有研究</h3>
                         <p>对教材、教案、历年考试试卷、优秀教学方法、优秀科研成果有深入研究，对教学规律、考试规律、命题规</p>
                       </div>
                          
                    </li>
    
     

        <li>
                        <div class="img"> <img src='../images/d860faf3-1dbd-467d-91bf-67510121c263.png' alt="有思路" />  </div>
                       <div class="tet">
                     <h3>有思路</h3>
                         <p>老师应了解学生，知道学生的短板，有清晰的教学方案和指导思路</p>
                       </div>
                          
                    </li>
    

                </ul>
            </div>
        </div>
    </section>


    <section class="nb-yg3 bx-ptb50 bx-xs-ptb20">
        <div class="container">
             <div class="nb-title text-center  wow fadeInUp delay-02s">
                <img class="bx-ml15 bx-xs-ml5" src="../images/ms-bt5.png" />
            
            </div>
            <div class="bx-ptb50 bx-xs-ptb20 list-c  wow fadeInUp delay-04s">
                <div class="img-z">
                    
<!--主要用于获取单条code信息，比如页脚，logo信息-->


<img src="../images/6371694600020778233407640.png" title="../images/ky-c.png" alt="../images/ky-c.png"/>
                </div>
                <div class="tet-y">
                   <ul>
                       
      <li>
                           <div class="lafe-a bx-div-vertical">
                               <span>01.</span>
                           </div>
                           <div class="right-a">
                               <h3>时间保证</h3>
                         <p>全日制全封闭寄宿式管理，严格的作息安排和学习纪律，做好每一名学员的个性化时间管理，养成良好的学习习惯。 
</p>
                           </div>
                       </li>

    
    
      <li>
                           <div class="lafe-a bx-div-vertical">
                               <span>02.</span>
                           </div>
                           <div class="right-a">
                               <h3>效率保证</h3>
                         <p>每班配备专职班主任老师，24小时对学员监督负责、掌控效率。对学员的学习效率及时监督、反馈和调整，保障复习效率最大化。 
</p>
                           </div>
                       </li>

    
    
      <li>
                           <div class="lafe-a bx-div-vertical">
                               <span>03.</span>
                           </div>
                           <div class="right-a">
                               <h3>氛围保证</h3>
                         <p>大强度高密度的复习氛围，形成良好的研友团队，并在学习中组成学习小组，进行不定期分组讨论，迅速提升解题能力，开拓视野，保持高度的学习热情。 
 </p>
                           </div>
                       </li>

    
    

                   </ul>
                </div>
            </div>
        </div>
    </section>













      <script>
          var swiper = new Swiper('.list-a .swiper-container', {
          autoHeight: true, //自适应高
          spaceBetween: 0,
          loop: true,
          centeredSlides: true,
          autoplay: {
              delay: 5000,
              disableOnInteraction: false,
          },
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
     
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
      });
  </script>





            <div class="nb-footer">
                <div class="container nb-footer-top">
                    <ul>
                        <li>
                            <h3>站点导航</h3>
                            <p><a href="/SprintCamp.html">文彦考研集训营</a></p>
                            <p><a href="/Courses.html">课程体系</a></p>
                            <p><a href="/Tutorial.html">一对一辅导班</a></p>
                            <p><a href="/Master.html">文彦名师</a></p>
                            <p><a href="/AboutUs.html">关于文彦</a></p>
                        </li>
                        


         <li>
                            <h3>联系我们</h3>
                            <p>电话：15881130014</p>
                            <p>微博：文彦教育</p>
                            <p>邮箱：2117049074@qq.com</p>
                            <p>地址：成都市武侯区一环路南一段20号普利大厦B座601</p>
                        </li>
                        <li>
                            <h3>全国服务热线</h3>
                            <p>课程咨询热线</p>
                            <div class="foot-hd">
                                <img src="../images/icon-fhd.png" /><a href="tel:028-85461234">028-85461234</a></div>
                        </li>
                        <li>
                            <h3>扫码有惊喜</h3>
                            <div class="ewm">
                                <img src="../images/6db4937d-3bce-435b-a45b-174c64a8542d.png" />
                            </div>
                            <p class="text-center">微信公众号</p>
                        </li>

    

                    </ul>
                </div>

                <div class="container nb-footer-bot">
                    
<!--主要用于获取单条code信息，比如页脚，logo信息-->


（ 版权所有！成都文彦教育咨询有限公司 POWER BY WENYANEDU.COM. 蜀ICP备10208733号-13 技术支持：舜王科技）

                </div>
            </div>


        </div>
    </form>

    


    

    <section class="bx-sideBar">
        <ul>
            <li><a href="#百度商桥#"  target='_blank'><i class="icon bxweb"></i><p>在线咨询</p></a>
            
            </li>
            <li><a href="javascript:;"><i class="icon bxweb bx-weixin"></i><p>微信</p></a>
                <div class="div-fc">
                    <img src="../images/weixin.jpg" />
                </div>
            </li>
            <li><a href="javascript:;"><i class="icon bxweb bx-qq1"></i>
                <p>QQ</p>
            </a>
                <div class="div-fc">
                    <p><a href="http://wpa.qq.com/msgrd?v=3&uin=2117049074&site=qq&menu=yes" target="_blank">2117049074</a></p>
                </div>
            </li>
            <li><a href="javascript:;"><i class="icon-phone"></i><p>电话</p></a>
                <div class="div-fc">
                    <p><a href="tel:028-85461234" alt="028-85461234" title="028-85461234">028-85461234</a></p>
                </div>
            </li>
            


            <li id="returnTop"><a href="javascript:;"><i class="icon bxweb bx-zhiding"></i>
                <p>返回顶部</p>
            </a></li>
        </ul>
    </section>

    <script src="zui/bx-js.js"></script>

    <!--页面动效-->
    <script>

        wow = new WOW({
            animateClass: 'animated',
            offset: 100,

        });
        wow.init();

        $(function () {
            $("#hamburger-6").click(function () {
                $(".bx-hide-n").slideToggle("slow");

            })
        })
    </script>


</body>
</html>
<!-- JiaThis Button BEGIN -->

<!-- JiaThis Button END -->
